h1 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h2{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

h3{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 15em
}
h4{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width:30em
}
